*-debug.log
*-error.log
/.nyc_output
/dist
/dist2
/lib
/package-lock.json
/tmp
node_modules
/export*.json
._*
.DS_Store
/logs
/source
/target
/development
/test-addons
/documentation
/src/addons/modules/sfdmu-run/custom-addons/TestModule*
/temp
*-private*
